.prelude-lists (@use) when (@use = true) {
	// Unordered and Ordered lists
	ul, ol {
		// disc
		// ======================================================================
		&.list--disc {
			list-style-type: disc;
			.hook-lists-disc;
		}

		// circle
		// ======================================================================
		&.list--circle {
			list-style-type: circle;
			.hook-lists-circle;
		}

		// square
		// ======================================================================
		&.list--square {
			list-style-type: square;
			.hook-lists-square;
		}

		// unstyled
		// ======================================================================
		&.list--unstyled {
			list-style: none;
			.hook-lists-unstyled;
		}
		&.list--disc,
		&.list--circle,
		&.list--square,
		&.list--unstyled {
			ul, ol {
				list-style: inherit;
			}
		}
	}

    // Hook
    // ==========================================================================
    .hook-lists-misc;
}

.prelude-lists (@use-lists);