.prelude-progress (@use) when (@use = true) {
	.progress {
		.rem(height, @progress-height);
		.margin-bottom-rem(@progress-margin-bottom);
		.padding-rem(@progress-padding);
		background-color: @progress-bgColor;
		border: 1px solid @progress-borderColor;
		overflow: hidden;
		.hook-progress;

		.meter {
			display: block;
			height: 100%;
			background: @progress-meter-bgColor;
			.hook-progress-meter;
		}
	}

	// type
	// ======================================================================
	.progress_radius {
		.border-radius(@progress-radius);
	}
	.progress_round {
		.border-radius(@progress-round);
	}
	.progress_radius,
	.progress_round {
		.meter {
			.border-radius(inherit);
		}
	}


	// size
	// ======================================================================
	.progress_small {
		.rem(height, @progress-small-height);
	}
	.progress_large {
		.rem(height, @progress-large-height);
	}

	// striped
	// ======================================================================
	.progress_striped {
		.hook-progress-striped;
		.meter {
			.gradient-striped;
			.background-size(@progress-striped-meter-size);
			.hook-progress-meter-striped;
		}
	}

	// Hook
	// ==========================================================================
	.hook-progress-misc;
}

.prelude-progress (@use-progress);