@divider-margin-top:             @base-fontSize;
@divider-margin-bottom:          @base-fontSize;

@divider-borderTopColor:             #000;
@divider-borderBottomColor:          #fff;

@divider-text-color:              #999;

@divider-icon-color:              #999;

// text && icon
@divider-margin-right:           @base-fontSize * 1.5;
@divider-margin-left:            @base-fontSize * 1.5;
@divider-fontSize:               @base-fontSize * .875;

// Hooks
// ==========================================================================
.hook-divider() {}
.hook-divider-text() {}
.hook-divider-icon() {}
.hook-divider-misc() {}