<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../css/prelude.css">
    <link rel="stylesheet" href="../css/highlighting//github.css">
    <style>
        body {
            padding: 40px;
        }
    </style>
</head>
<body>
    <section>
        <h2>Alerts</h2>
        <div class="row">
            <div class="span-6">
                <h4>HTML</h4>
                <pre><code data-language="html">&lt;div&nbsp;class=&quot;alert&nbsp;alert_warning&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;strong&gt;Warning!&lt;/strong&gt;&nbsp;Best&nbsp;check&nbsp;yo&nbsp;self,&nbsp;you're&nbsp;not&nbsp;looking&nbsp;too&nbsp;good.
&nbsp;&nbsp;&nbsp;&nbsp;&lt;a&nbsp;href=&quot;#&quot;&nbsp;class=&quot;close&quot;&gt;&amp;times;&lt;/a&gt;
&lt;/div&gt;
&lt;div&nbsp;class=&quot;alert&nbsp;alert_error&nbsp;alert_radius&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;strong&gt;Error!&lt;/strong&gt;&nbsp;This&nbsp;is&nbsp;a&nbsp;warning&nbsp;alert&nbsp;that&nbsp;is&nbsp;radius.&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;a&nbsp;href=&quot;#&quot;&nbsp;class=&quot;close&quot;&gt;&amp;times;&lt;/a&gt;
&lt;/div&gt;
&lt;div&nbsp;class=&quot;alert&nbsp;alert_success&nbsp;alert_round&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;strong&gt;Success!&lt;/strong&gt;&nbsp;This&nbsp;is&nbsp;a&nbsp;success&nbsp;alert&nbsp;with&nbsp;a&nbsp;round.&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;a&nbsp;href=&quot;#&quot;&nbsp;class=&quot;close&quot;&gt;&amp;times;&lt;/a&gt;
&lt;/div&gt;
&lt;div&nbsp;class=&quot;alert&nbsp;alert_info&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;strong&gt;Information!&lt;/strong&gt;&nbsp;Best&nbsp;check&nbsp;yo&nbsp;self,&nbsp;you&nbsp;have&nbsp;new&nbsp;informations.
&nbsp;&nbsp;&nbsp;&nbsp;&lt;a&nbsp;href=&quot;#&quot;&nbsp;class=&quot;close&quot;&gt;&amp;times;&lt;/a&gt;
&lt;/div&gt;</code></pre>
            </div>
            <div class="span-6">
                <h4>RENDERED HTML</h4>
                <div class="alert alert_warning">
                    <strong>Warning!</strong> Best check yo self, you're not looking too good.
                    <a href="#" class="close">&times;</a>
                </div>
                <div class="alert alert_error alert_radius">
                    <strong>Error!</strong> This is a warning alert that is radius. 
                    <a href="#" class="close">&times;</a>
                </div>
                <div class="alert alert_success alert_round">
                    <strong>Success!</strong> This is a success alert with a round. 
                    <a href="#" class="close">&times;</a>
                </div>
                <div class="alert alert_info">
                    <strong>Information!</strong> Best check yo self, you have new informations.
                    <a href="#" class="close">&times;</a>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="../js/highlighting/rainbow.min.js"></script>
    <script type="text/javascript" src="../js/highlighting/html.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</body>
</html>