<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../dist/prelude.css">
    <link rel="stylesheet" href="../css/highlighting/github.css">
    <style>
        body {
            padding: 40px;
        }
    </style>
</head>
<body>
    <section>
        <h2>Boxs</h2>
        <div class="row">
            <div class="column half-desktop">
                <h4>HTML</h4>
                <pre><code data-language="html">&lt;p&nbsp;class=&quot;box&quot;&gt;This&nbsp;is&nbsp;a&nbsp;box&nbsp;paragraph.&lt;/p&gt;
&lt;h2&nbsp;class=&quot;box&quot;&gt;This&nbsp;is&nbsp;a&nbsp;box&nbsp;heading&nbsp;2.&lt;/h2&gt;
&lt;h4&nbsp;class=&quot;box&quot;&gt;This&nbsp;is&nbsp;a&nbsp;box&nbsp;heading&nbsp;4.&lt;/h4&gt;
&lt;h6&nbsp;class=&quot;box&quot;&gt;This&nbsp;is&nbsp;a&nbsp;box&nbsp;heading&nbsp;6.&lt;/h6&gt;</code></pre>
            </div>
            <div class="column half-desktop">
                <h4>RENDERED HTML</h4>
                <p class="box">This is a box paragraph.</p>
                <h2 class="box">This is a box heading 2.</h2>
                <h4 class="box">This is a box heading 4.</h4>
                <h6 class="box">This is a box heading 6.</h6>
            </div>
        </div>
        <div class="row">
            <div class="column half-desktop">
                <h4>HTML</h4>
                <pre><code data-language="html">&lt;p&nbsp;class=&quot;box&nbsp;box--warning&quot;&gt;This&nbsp;is&nbsp;a&nbsp;warning&nbsp;box.&lt;/p&gt;
&lt;p&nbsp;class=&quot;box&nbsp;box--error&quot;&gt;This&nbsp;is&nbsp;an&nbsp;error&nbsp;box.&lt;/p&gt;
&lt;p&nbsp;class=&quot;box&nbsp;box--success&quot;&gt;This&nbsp;is&nbsp;a&nbsp;success&nbsp;box.&lt;/p&gt;
&lt;p&nbsp;class=&quot;box&nbsp;box--info&quot;&gt;This&nbsp;is&nbsp;an&nbsp;info&nbsp;box.&lt;/p&gt;</code></pre>
            </div>
            <div class="column half-desktop">
                <h4>RENDERED HTML</h4>
                <p class="box box--warning">This is a warning box.</p>
                <p class="box box--error">This is an error box.</p>
                <p class="box box--success">This is a success box.</p>
                <p class="box box--info">This is an info box.</p>
            </div>
        </div>
        <div class="row">
            <div class="column half-desktop">
                <h4>HTML</h4>
                <pre><code data-language="html">&lt;p&nbsp;class=&quot;box&nbsp;box--square&quot;&gt;This&nbsp;is&nbsp;a&nbsp;square&nbsp;box.&lt;/p&gt;
&lt;p&nbsp;class=&quot;box&nbsp;box--round&quot;&gt;This&nbsp;is&nbsp;a&nbsp;round&nbsp;box.&lt;/p&gt;</code></pre>
            </div>
            <div class="column half-desktop">
                <h4>RENDERED HTML</h4>
                <p class="box box--square">This is a square box.</p>
                <p class="box box--round">This is a round box.</p>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="../js/highlighting/rainbow.min.js"></script>
    <script type="text/javascript" src="../js/highlighting/html.js"></script>
    <script type="text/javascript" src="../js/libs/jquery/jquery.min.js"></script>
</body>
</html>