<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../css/prelude.css">
    <link rel="stylesheet" href="../css/highlighting//github.css">
    <style>
        body {
            padding: 40px;
        }
        * + .button {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <section>
        <h2>Buttons</h2>
        <section>
            <h3>Defination</h3>
            <div class="row">
                <div class="span-6">
                    <h4>HTML</h4>
                    <pre><code data-language="html">&lt;button&nbsp;class=&quot;button&nbsp;button_mini&quot;&gt;mini&lt;/button&gt;
&lt;button&nbsp;class=&quot;button&nbsp;button_tiny&quot;&gt;tiny&lt;/button&gt;
&lt;button&nbsp;class=&quot;button&nbsp;button_small&quot;&gt;small&lt;/button&gt;
&lt;button&nbsp;class=&quot;button&nbsp;button_medium&quot;&gt;medium&lt;/button&gt;
&lt;button&nbsp;class=&quot;button&nbsp;button_large&quot;&gt;large&lt;/button&gt;
&lt;button&nbsp;class=&quot;button&nbsp;button_big&quot;&gt;big&lt;/button&gt;
&lt;button&nbsp;class=&quot;button&nbsp;button_huge&quot;&gt;huge&lt;/button&gt;
&lt;button&nbsp;class=&quot;button&nbsp;button_massive&quot;&gt;massive&lt;/button&gt;</code></pre>
                </div>
                <div class="span-6">
                    <h4>RENDERED HTML</h4>
                    <a class="button">link</a>
                    <button>tiny</button>
                    <input type="button" class="button" value="button" />
                    <input type="reset" class="button" value="reset" />
                    <input type="submit" class="button" value="reset" />
                </div>
            </div>
        </section>
        <section>
            <h3>Sizes</h3>
            <div class="row">
                <div class="span-6">
                    <h4>HTML</h4>
                    <pre><code data-language="html">&lt;button&nbsp;class=&quot;button&nbsp;button_mini&quot;&gt;mini&lt;/button&gt;
&lt;button&nbsp;class=&quot;button&nbsp;button_tiny&quot;&gt;tiny&lt;/button&gt;
&lt;button&nbsp;class=&quot;button&nbsp;button_small&quot;&gt;small&lt;/button&gt;
&lt;button&nbsp;class=&quot;button&nbsp;button_medium&quot;&gt;medium&lt;/button&gt;
&lt;button&nbsp;class=&quot;button&nbsp;button_large&quot;&gt;large&lt;/button&gt;
&lt;button&nbsp;class=&quot;button&nbsp;button_big&quot;&gt;big&lt;/button&gt;
&lt;button&nbsp;class=&quot;button&nbsp;button_huge&quot;&gt;huge&lt;/button&gt;
&lt;button&nbsp;class=&quot;button&nbsp;button_massive&quot;&gt;massive&lt;/button&gt;</code></pre>
                </div>
                <div class="span-6">
                    <h4>RENDERED HTML</h4>
                    <button class="button button_mini">mini</button>
                    <button class="button button_tiny">tiny</button>
                    <button class="button button_small">small</button>
                    <button class="button button_medium">medium</button>
                    <button class="button button_large">large</button>
                    <button class="button button_big">big</button>
                    <button class="button button_huge">huge</button>
                    <button class="button button_massive">massive</button>
                </div>
            </div>
        </section>
        <hr>
        <section>
            <h3>Types</h3>
            <div class="row">
                <div class="span-6">
                    <h4>HTML</h4>
                    <pre><code data-language="html">&lt;button&nbsp;class=&quot;button&nbsp;button_disabled&quot;&gt;disabled&lt;/button&gt;
&lt;button&nbsp;class=&quot;button&nbsp;button_radius&quot;&gt;radius&lt;/button&gt;
&lt;button&nbsp;class=&quot;button&nbsp;button_round&quot;&gt;round&lt;/button&gt;</code></pre>
                </div>
                <div class="span-6">
                    <h4>RENDERED HTML</h4>
                    <button class="button button_disabled">disabled</button><br />
                    <button class="button button_radius">radius</button><br />
                    <button class="button button_round">round</button><br />
                </div>
            </div>
        </section>
        <hr>
        <section>
            <h3>Icon</h3>
            <div class="row">
                <div class="span-6">
                    <h4>HTML</h4>
                    <pre><code data-language="html">&lt;button&nbsp;class=&quot;button&quot;&gt;&lt;i&nbsp;class=&quot;icon&nbsp;icon-cloud&quot;&gt;&lt;/i&gt;&lt;/button&gt;</code></pre>
                </div>
                <div class="span-6">
                    <h4>RENDERED HTML</h4>
                    <button class="button"><i class="icon icon-cloud"></i></button>
                </div>
            </div>
        </section>
        <hr>
        <section>
            <h3>Label</h3>
            <div class="row">
                <div class="span-6">
                    <h4>HTML</h4>
                    <pre><code data-language="html">&lt;button&nbsp;class=&quot;button&nbsp;button_label&quot;&gt;&lt;i&nbsp;class=&quot;icon&nbsp;icon-pause&quot;&gt;&lt;/i&gt;Pause&lt;/button&gt;
&lt;button&nbsp;class=&quot;button&nbsp;button_label&quot;&gt;&lt;i&nbsp;class=&quot;icon&nbsp;icon-play&quot;&gt;&lt;/i&gt;Play&lt;/button&gt;</code></pre>
                </div>
                <div class="span-6">
                    <h4>RENDERED HTML</h4>
                    <button class="button button_label"><i class="icon icon-pause"></i>Pause</button><br />
                    <button class="button button_label"><i class="icon icon-play"></i>Play</button>
                </div>
            </div>
        </section>
        <hr>
        <section>
            <h3>Groups</h3>
            <div class="row">
                <div class="span-6">
                    <h4>HTML</h4>
                    <pre><code data-language="html">&lt;div&nbsp;class=&quot;button_group&nbsp;button_large&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;button&nbsp;class=&quot;button&quot;&gt;One&lt;/button&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;button&nbsp;class=&quot;button&quot;&gt;Two&lt;/button&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;button&nbsp;class=&quot;button&quot;&gt;Three&lt;/button&gt;
&lt;/div&gt;</code></pre>
                </div>
                <div class="span-6">
                    <h4>RENDERED HTML</h4>
                    <div class="button_group">
                        <button class="button">One</button>
                        <button class="button">Two</button>
                        <button class="button">Three</button>
                    </div>
                    <div class="button_group">
                        <button class="button"><i class="icon icon-align-left"></i></button>
                        <button class="button"><i class="icon icon-align-center"></i></button>
                        <button class="button"><i class="icon icon-align-right"></i></button>
                        <button class="button"><i class="icon icon-align-justify"></i></button>
                    </div>
                    <div class="button_group button_large">
                        <button class="button">Cancle</button>
                        <span class="or">or</span>
                        <button class="button">Save</button>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <script type="text/javascript" src="../js/highlighting/rainbow.min.js"></script>
    <script type="text/javascript" src="../js/highlighting/html.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</body>
</html>