<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../dist/prelude.css">
    <link rel="stylesheet" href="../css/highlighting/github.css">
    <style>
        body {
            padding: 40px;
        }
        * + .button,
        * + button {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <section>
        <h2>Buttons</h2>
        <section>
            <h3>Defination</h3>
            <div class="row">
                <div class="column half-desktop">
                    <h4>HTML</h4>
                    <pre><code data-language="html">&lt;a href=&quot;#&quot; class=&quot;button&quot;&gt;link&lt;/a&gt;
&lt;button class=&quot;button&quot;&gt;tiny&lt;/button&gt;
&lt;input type=&quot;button&quot; class=&quot;button&quot; value=&quot;button&quot; /&gt;
&lt;input type=&quot;submit&quot; class=&quot;button&quot; value=&quot;submit&quot; /&gt;
&lt;input type=&quot;submit&quot; value=&quot;Disabled&quot; class=&quot;button&quot; disabled /&gt;
&lt;input type=&quot;reset&quot; class=&quot;button&quot; value=&quot;reset&quot; /&gt;</code></pre>
                </div>
                <div class="column half-desktop">
                    <h4>RENDERED HTML</h4>
                    <a href="#" class="button">link</a>
                    <button class="button">tiny</button>
                    <input type="button" class="button" value="button" />
                    <input type="submit" class="button" value="submit" />
                    <input type="submit" value="Disabled" class="button" disabled />
                    <input type="reset" class="button" value="reset" />
                </div>
            </div>
        </section>
        <section>
            <h3>Sizes</h3>
            <div class="row">
                <div class="column half-desktop">
                    <h4>HTML</h4>
                    <pre><code data-language="html">&lt;button&nbsp;class=&quot;button&nbsp;button--mini&quot;&gt;mini&lt;/button&gt;
&lt;button&nbsp;class=&quot;button&nbsp;button--tiny&quot;&gt;tiny&lt;/button&gt;
&lt;button&nbsp;class=&quot;button&nbsp;button--small&quot;&gt;small&lt;/button&gt;
&lt;button&nbsp;class=&quot;button&nbsp;button--medium&quot;&gt;medium&lt;/button&gt;
&lt;button&nbsp;class=&quot;button&nbsp;button--large&quot;&gt;large&lt;/button&gt;
&lt;button&nbsp;class=&quot;button&nbsp;button--big&quot;&gt;big&lt;/button&gt;
&lt;button&nbsp;class=&quot;button&nbsp;button--huge&quot;&gt;huge&lt;/button&gt;
&lt;button&nbsp;class=&quot;button&nbsp;button--massive&quot;&gt;massive&lt;/button&gt;</code></pre>
                </div>
                <div class="column half-desktop">
                    <h4>RENDERED HTML</h4>
                    <button class="button button--mini">mini</button>
                    <button class="button button--tiny">tiny</button>
                    <button class="button button--small">small</button>
                    <button class="button button--medium">medium</button>
                    <button class="button button--large">large</button>
                    <button class="button button--big">big</button>
                    <button class="button button--huge">huge</button>
                    <button class="button button--massive">massive</button>
                </div>
            </div>
        </section>
        <hr>
        <section>
            <h3>Types</h3>
            <div class="row">
                <div class="column half-desktop">
                    <h4>HTML</h4>
                    <pre><code data-language="html">&lt;button&nbsp;class=&quot;button&nbsp;is-disabled&quot;&gt;disabled&lt;/button&gt;
&lt;button&nbsp;class=&quot;button&nbsp;button--radius&quot;&gt;radius&lt;/button&gt;
&lt;button&nbsp;class=&quot;button&nbsp;button--round&quot;&gt;round&lt;/button&gt;</code></pre>
                </div>
                <div class="column half-desktop">
                    <h4>RENDERED HTML</h4>
                    <button class="button is-disabled">disabled</button><br />
                    <button class="button button--square">square</button><br />
                    <button class="button button--radius">radius</button><br />
                    <button class="button button--round">round</button><br />
                    <button class="button button--block">block</button>
                </div>
            </div>
        </section>
        <hr>
        <section>
            <h3>Icon</h3>
            <div class="row">
                <div class="column half-desktop">
                    <h4>HTML</h4>
                    <pre><code data-language="html">&lt;button&nbsp;class=&quot;button&quot;&gt;&lt;i&nbsp;class=&quot;icon&nbsp;icon-cloud&quot;&gt;&lt;/i&gt;&lt;/button&gt;</code></pre>
                </div>
                <div class="column half-desktop">
                    <h4>RENDERED HTML</h4>
                    <button class="button"><i class="icon icon-cloud"></i></button>
                </div>
            </div>
        </section>
        <hr>
        <section>
            <h3>Label</h3>
            <div class="row">
                <div class="column half-desktop">
                    <h4>HTML</h4>
                    <pre><code data-language="html">&lt;button&nbsp;class=&quot;button&nbsp;button--label&quot;&gt;&lt;i&nbsp;class=&quot;icon&nbsp;icon-pause&quot;&gt;&lt;/i&gt;Pause&lt;/button&gt;
&lt;button&nbsp;class=&quot;button&nbsp;button--label&quot;&gt;&lt;i&nbsp;class=&quot;icon&nbsp;icon-play&quot;&gt;&lt;/i&gt;Play&lt;/button&gt;</code></pre>
                </div>
                <div class="column half-desktop">
                    <h4>RENDERED HTML</h4>
                    <button class="button button--label"><i class="icon icon-pause"></i>Pause</button><br />
                    <button class="button button--label"><i class="icon icon-play"></i>Play</button>
                </div>
            </div>
        </section>
        <hr>
        <section>
            <h3>Groups</h3>
            <div class="row">
                <div class="column half-desktop">
                    <h4>HTML</h4>
                    <pre><code data-language="html">&lt;div&nbsp;class=&quot;buttons&nbsp;button--large&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;button&nbsp;class=&quot;button&quot;&gt;One&lt;/button&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;button&nbsp;class=&quot;button&quot;&gt;Two&lt;/button&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;button&nbsp;class=&quot;button&quot;&gt;Three&lt;/button&gt;
&lt;/div&gt;</code></pre>
                </div>
                <div class="column half-desktop">
                    <h4>RENDERED HTML</h4>
                    <div class="buttons">
                        <button class="button">One</button>
                        <button class="button">Two</button>
                        <button class="button">Three</button>
                    </div>
                    <div class="buttons">
                        <a class="button">One</a>
                        <a class="button">Two</a>
                        <a class="button">Three</a>
                    </div>
                    
                    <div class="buttons">
                        <button class="button"><i class="icon icon-align-left"></i></button>
                        <button class="button"><i class="icon icon-align-center"></i></button>
                        <button class="button"><i class="icon icon-align-right"></i></button>
                        <button class="button"><i class="icon icon-align-justify"></i></button>
                    </div>
                    <div class="buttons button--large buttons--or">
                        <button class="button">Cancle</button>
                        <button class="button">Save</button>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <script type="text/javascript" src="../js/highlighting/rainbow.min.js"></script>
    <script type="text/javascript" src="../js/highlighting/html.js"></script>
    <script type="text/javascript" src="../js/libs/jquery/jquery.min.js"></script>
</body>
</html>