<!DOCTYPE html>
<!--[if lt IE 7]>            <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>                 <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>                 <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../css/prelude.css">
    <link rel="stylesheet" href="../css/highlighting//github.css">
    <style>
        body {
            padding: 40px;
        }
        p > i {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<section>
    <h2>Icons</h2>
    <section>
        <h3>Larger Icons</h3>
        <div class="row">
            <div class="column half">
                <h4>HTML</h4>
                <pre><code data-language="html">&lt;p&gt;&lt;i&nbsp;class=&quot;icon&nbsp;icon-home&nbsp;icon--lg&quot;&gt;&lt;/i&gt;icon-home&lt;/p&gt;
&lt;p&gt;&lt;i&nbsp;class=&quot;icon&nbsp;icon-home&nbsp;icon--2x&quot;&gt;&lt;/i&gt;icon-home&lt;/p&gt;
&lt;p&gt;&lt;i&nbsp;class=&quot;icon&nbsp;icon-home&nbsp;icon--3x&quot;&gt;&lt;/i&gt;icon-home&lt;/p&gt;
&lt;p&gt;&lt;i&nbsp;class=&quot;icon&nbsp;icon-home&nbsp;icon--4x&quot;&gt;&lt;/i&gt;icon-home&lt;/p&gt;
&lt;p&gt;&lt;i&nbsp;class=&quot;icon&nbsp;icon-home&nbsp;icon--5x&quot;&gt;&lt;/i&gt;icon-home&lt;/p&gt;</code></pre>
            </div>
            <div class="column half">
                <h4>RENDERED HTML</h4>
                <p><i class="icon icon-home icon--lg"></i>icon-home</p>
                <p><i class="icon icon-home icon--2x"></i>icon-home</p>
                <p><i class="icon icon-home icon--3x"></i>icon-home</p>
                <p><i class="icon icon-home icon--4x"></i>icon-home</p>
                <p><i class="icon icon-home icon--5x"></i>icon-home</p>
            </div>
        </div>
    </section>
    <hr>
    <section>
        <h3>List Icons</h3>
        <div class="row">
            <div class="column half">
                <h4>HTML</h4>
                <pre><code data-language="html">&lt;ul&nbsp;class=&quot;icon-ul&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;i&nbsp;class=&quot;icon-li&nbsp;icon&nbsp;icon-check-square&quot;&gt;&lt;/i&gt;List&nbsp;icons&nbsp;(like&nbsp;these)&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;i&nbsp;class=&quot;icon-li&nbsp;icon&nbsp;icon-check-square&quot;&gt;&lt;/i&gt;can&nbsp;be&nbsp;used&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;i&nbsp;class=&quot;icon-li&nbsp;icon&nbsp;icon-square&quot;&gt;&lt;/i&gt;default&nbsp;bullets&nbsp;in&nbsp;lists&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;i&nbsp;class=&quot;icon-li&nbsp;icon&nbsp;icon-square&quot;&gt;&lt;/i&gt;default&nbsp;bullets&nbsp;in&nbsp;lists&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;i&nbsp;class=&quot;icon-li&nbsp;icon&nbsp;icon-check-square&quot;&gt;&lt;/i&gt;can&nbsp;be&nbsp;used&lt;/li&gt;
&lt;/ul&gt;</code></pre>
            </div>
            <div class="column half">
                <h4>RENDERED HTML</h4>
                <ul class="icon-ul">
                    <li><i class="icon-li icon icon-check-square"></i>List icons (like these)</li>
                    <li><i class="icon-li icon icon-check-square"></i>can be used</li>
                    <li><i class="icon-li icon icon-square"></i>default bullets in lists</li>
                    <li><i class="icon-li icon icon-square"></i>default bullets in lists</li>
                    <li><i class="icon-li icon icon-check-square"></i>can be used</li>
                </ul>
            </div>
        </div>
    </section>
    <hr>
    <section>
        <h3>Circular &amp; Square</h3>
        <div class="row">
            <div class="column half">
                <h4>HTML</h4>
                <pre><code data-language="html">&lt;i&nbsp;class=&quot;icon&nbsp;icon-flag&nbsp;icon--circular&quot;&gt;&lt;/i&gt;
&lt;i&nbsp;class=&quot;icon&nbsp;icon-flag&nbsp;icon--square&quot;&gt;&lt;/i&gt;</code></pre>
            </div>
            <div class="column half">
                <h4>RENDERED HTML</h4>
                <i class="icon icon-flag icon--circular"></i>
                <i class="icon icon-flag icon--square"></i>
            </div>
        </div>
    </section>
    <hr>
    <section>
        <h3>Spinning Icons</h3>
        <div class="row">
            <div class="column half">
                <h4>HTML</h4>
                <pre><code data-language="html">&lt;i&nbsp;class=&quot;icon&nbsp;icon-spinner&nbsp;icon--spin&quot;&gt;&lt;/i&gt;
&lt;i&nbsp;class=&quot;icon&nbsp;icon-refresh&nbsp;icon--spin&quot;&gt;&lt;/i&gt;
&lt;i&nbsp;class=&quot;icon&nbsp;icon-cog&nbsp;icon--spin&quot;&gt;&lt;/i&gt;</code></pre>
            </div>
            <div class="column half">
                <h4>RENDERED HTML</h4>
                <i class="icon icon-spinner icon--spin"></i>
                <i class="icon icon-refresh icon--spin"></i>
                <i class="icon icon-cog icon--spin"></i>
            </div>
        </div>
    </section>
    <hr>
    <section>
        <h3>Rotated &amp; Flipped</h3>
        <div class="row">
            <div class="column half">
                <h4>HTML</h4>
                <pre><code data-language="html">&lt;i&nbsp;class=&quot;icon&nbsp;icon-shield&quot;&gt;&lt;/i&gt;&nbsp;normal
&lt;i&nbsp;class=&quot;icon&nbsp;icon-shield&nbsp;icon-rotate-90&quot;&gt;&lt;/i&gt;&nbsp;icon-rotate-90
&lt;i&nbsp;class=&quot;icon&nbsp;icon-shield&nbsp;icon-rotate-180&quot;&gt;&lt;/i&gt;&nbsp;icon-rotate-180
&lt;i&nbsp;class=&quot;icon&nbsp;icon-shield&nbsp;icon-rotate-270&quot;&gt;&lt;/i&gt;&nbsp;icon-rotate-270
&lt;i&nbsp;class=&quot;icon&nbsp;icon-shield&nbsp;icon-flip-horizontal&quot;&gt;&lt;/i&gt;&nbsp;icon-flip-horizontal
&lt;i&nbsp;class=&quot;icon&nbsp;icon-shield&nbsp;icon-flip-vertical&quot;&gt;&lt;/i&gt;&nbsp;icon-flip-vertical</code></pre>
            </div>
            <div class="column half">
                <h4>RENDERED HTML</h4>
                <i class="icon icon-shield"></i> normal<br>
                <i class="icon icon-shield icon-rotate-90"></i> icon-rotate-90<br>
                <i class="icon icon-shield icon-rotate-180"></i> icon-rotate-180<br>
                <i class="icon icon-shield icon-rotate-270"></i> icon-rotate-270<br>
                <i class="icon icon-shield icon-flip-horizontal"></i> icon-flip-horizontal<br>
                <i class="icon icon-shield icon-flip-vertical"></i> icon-flip-vertical
            </div>
        </div>
    </section>
</section>

    <script type="text/javascript" src="../js/highlighting/rainbow.min.js"></script>
    <script type="text/javascript" src="../js/highlighting/html.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</body>
</html>