<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../css/prelude.css">
    <link rel="stylesheet" href="../css/highlighting//github.css">
    <style>
        body {
            padding: 40px;
        }
    </style>
</head>
<body>
    <section>
        <h2>Messages</h2>
        <div class="row">
            <div class="column half-desktop">
                <h4>HTML</h4>
                <pre><code data-language="html">&lt;div&nbsp;class=&quot;message&nbsp;message--warning&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;strong&gt;Warning!&lt;/strong&gt;&nbsp;Best&nbsp;check&nbsp;yo&nbsp;self,&nbsp;you're&nbsp;not&nbsp;looking&nbsp;too&nbsp;good.
&lt;/div&gt;
&lt;div&nbsp;class=&quot;message&nbsp;message--warning&nbsp;message-close&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;strong&gt;Warning!&lt;/strong&gt;&nbsp;Best&nbsp;check&nbsp;yo&nbsp;self,&nbsp;you're&nbsp;not&nbsp;looking&nbsp;too&nbsp;good.
&lt;/div&gt;
&lt;div&nbsp;class=&quot;message&nbsp;message--error&nbsp;message--radius&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;strong&gt;Error!&lt;/strong&gt;&nbsp;This&nbsp;is&nbsp;a&nbsp;warning&nbsp;message&nbsp;that&nbsp;is&nbsp;radius.&nbsp;
&lt;/div&gt;
&lt;div&nbsp;class=&quot;message&nbsp;message--error&nbsp;message--radius&nbsp;message-close&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;strong&gt;Error!&lt;/strong&gt;&nbsp;This&nbsp;is&nbsp;a&nbsp;warning&nbsp;message&nbsp;that&nbsp;is&nbsp;radius.&nbsp;
&lt;/div&gt;
&lt;div&nbsp;class=&quot;message&nbsp;message--success&nbsp;message--round&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;strong&gt;Success!&lt;/strong&gt;&nbsp;This&nbsp;is&nbsp;a&nbsp;success&nbsp;message&nbsp;with&nbsp;a&nbsp;round.&nbsp;
&lt;/div&gt;
&lt;div&nbsp;class=&quot;message&nbsp;message--success&nbsp;message--round&nbsp;message-close&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;strong&gt;Success!&lt;/strong&gt;&nbsp;This&nbsp;is&nbsp;a&nbsp;success&nbsp;message&nbsp;with&nbsp;a&nbsp;round.&nbsp;
&lt;/div&gt;
&lt;div&nbsp;class=&quot;message&nbsp;message--info&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;strong&gt;Information!&lt;/strong&gt;&nbsp;Best&nbsp;check&nbsp;yo&nbsp;self,&nbsp;you&nbsp;have&nbsp;new&nbsp;informations.
&lt;/div&gt;
&lt;div&nbsp;class=&quot;message&nbsp;message--info&nbsp;message-close&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;strong&gt;Information!&lt;/strong&gt;&nbsp;Best&nbsp;check&nbsp;yo&nbsp;self,&nbsp;you&nbsp;have&nbsp;new&nbsp;informations.
&lt;/div&gt;</code></pre>
            </div>
            <div class="column half-desktop">
                <h4>RENDERED HTML</h4>
                <div class="message message--warning">
                    <strong>Warning!</strong> Best check yo self, you're not looking too good.
                </div>
                <div class="message message--warning message-close">
                    <strong>Warning!</strong> Best check yo self, you're not looking too good.
                </div>
                <div class="message message--error message--radius">
                    <strong>Error!</strong> This is a warning message that is radius.
                </div>
                <div class="message message--error message--radius message-close">
                    <strong>Error!</strong> This is a warning message that is radius.
                </div>
                <div class="message message--success message--round">
                    <strong>Success!</strong> This is a success message with a round.
                </div>
                <div class="message message--success message--round message-close">
                    <strong>Success!</strong> This is a success message with a round.
                </div>
                <div class="message message--info">
                    <strong>Information!</strong> Best check yo self, you have new informations.
                </div>
                <div class="message message--info message-close">
                    <strong>Information!</strong> Best check yo self, you have new informations.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column half-desktop">
                <h4>HTML</h4>
                <pre><code data-language="html"> &lt;div class=&quot;message message--warning&quot;&gt;
    &lt;h4 class=&quot;message-title&quot;&gt;Warning!&lt;/h4&gt;
    &lt;div class=&quot;message-content&quot;&gt;
        &lt;p&gt;Best check yo self, you&#039;re not looking too good.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;message message--warning message-close&quot;&gt;
    &lt;h4 class=&quot;message-title&quot;&gt;Warning!&lt;/h4&gt;
    &lt;div class=&quot;message-content&quot;&gt;
        &lt;p&gt;Best check yo self, you&#039;re not looking too good.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;message message--error message--radius&quot;&gt;
    &lt;h4 class=&quot;message-title&quot;&gt;Error!&lt;/h4&gt;
    &lt;div class=&quot;message-content&quot;&gt;
        &lt;p&gt;This is a warning message that is radius.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;message message--error message--radius message-close&quot;&gt;
    &lt;h4 class=&quot;message-title&quot;&gt;Error!&lt;/h4&gt;
    &lt;div class=&quot;message-content&quot;&gt;
        &lt;p&gt;This is a warning message that is radius.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;message message--success message--round&quot;&gt;
    &lt;h4 class=&quot;message-title&quot;&gt;Success!&lt;/h4&gt;
    &lt;div class=&quot;message-content&quot;&gt;
        &lt;p&gt;This is a success message with a round.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;message message--success message--round message-close&quot;&gt;
    &lt;h4 class=&quot;message-title&quot;&gt;Success!&lt;/h4&gt;
    &lt;div class=&quot;message-content&quot;&gt;
        &lt;p&gt;This is a success message with a round.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;message message--info&quot;&gt;
    &lt;h4 class=&quot;message-title&quot;&gt;Information!&lt;/h4&gt;
    &lt;div class=&quot;message-content&quot;&gt;
        &lt;p&gt;Best check yo self, you have new informations.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;message message--info message-close&quot;&gt;
    &lt;h4 class=&quot;message-title&quot;&gt;Information!&lt;/h4&gt;
    &lt;div class=&quot;message-content&quot;&gt;
        &lt;p&gt;Best check yo self, you have new informations.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
            </div>
            <div class="column half-desktop">
                <h4>RENDERED HTML</h4>
                <div class="message message--warning">
                    <h4 class="message-title">Warning!</h4>
                    <div class="message-content">
                        <p>Best check yo self, you're not looking too good.</p>
                    </div>
                </div>
                <div class="message message--warning message-close">
                    <h4 class="message-title">Warning!</h4>
                    <div class="message-content">
                        <p>Best check yo self, you're not looking too good.</p>
                    </div>
                </div>
                <div class="message message--error message--radius">
                    <h4 class="message-title">Error!</h4>
                    <div class="message-content">
                        <p>This is a warning message that is radius.</p>
                    </div>
                </div>
                <div class="message message--error message--radius message-close">
                    <h4 class="message-title">Error!</h4>
                    <div class="message-content">
                        <p>This is a warning message that is radius.</p>
                    </div>
                </div>
                <div class="message message--success message--round">
                    <h4 class="message-title">Success!</h4>
                    <div class="message-content">
                        <p>This is a success message with a round.</p>
                    </div>
                </div>
                <div class="message message--success message--round message-close">
                    <h4 class="message-title">Success!</h4>
                    <div class="message-content">
                        <p>This is a success message with a round.</p>
                    </div>
                </div>
                <div class="message message--info">
                    <h4 class="message-title">Information!</h4>
                    <div class="message-content">
                        <p>Best check yo self, you have new informations.</p>
                    </div>
                </div>
                <div class="message message--info message-close">
                    <h4 class="message-title">Information!</h4>
                    <div class="message-content">
                        <p>Best check yo self, you have new informations.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="../js/highlighting/rainbow.min.js"></script>
    <script type="text/javascript" src="../js/highlighting/html.js"></script>
    <script type="text/javascript" src="../js/libs/jquery/jquery.min.js"></script>
</body>
</html>