<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../dist/prelude.css">
    <link rel="stylesheet" href="../css/highlighting/github.css">
    <style>
        body {
            padding: 40px;
        }
    </style>
</head>
<body>
    <section>
        <h2>Alerts</h2>
        <div class="row">
            <div class="span-6">
                <h4>HTML</h4>
                <pre><code data-language="html">&lt;ul&nbsp;class=&quot;pager&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a&nbsp;href=&quot;#&quot;&gt;Previous&lt;/a&gt;&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a&nbsp;href=&quot;#&quot;&gt;Next&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;ul&nbsp;class=&quot;pager&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&nbsp;class=&quot;pager-prev&quot;&gt;&lt;a&nbsp;href=&quot;#&quot;&gt;Previous&lt;/a&gt;&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&nbsp;class=&quot;pager-next&quot;&gt;&lt;a&nbsp;href=&quot;#&quot;&gt;Next&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;ul&nbsp;class=&quot;pager&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&nbsp;class=&quot;pager-prev&nbsp;is-disabled&quot;&gt;&lt;a&nbsp;href=&quot;#&quot;&gt;Previous&lt;/a&gt;&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&nbsp;class=&quot;pager-next&quot;&gt;&lt;a&nbsp;href=&quot;#&quot;&gt;Next&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>
            </div>
            <div class="span-6">
                <h4>RENDERED HTML</h4>
                <ul class="pager">
                    <li><a href="#">Previous</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
                <ul class="pager">
                    <li class="pager-prev"><a href="#">Previous</a></li>
                    <li class="pager-next"><a href="#">Next</a></li>
                </ul>
                <ul class="pager">
                    <li class="pager-prev is-disabled"><a href="#">Previous</a></li>
                    <li class="pager-next"><a href="#">Next</a></li>
                </ul>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="../js/highlighting/rainbow.min.js"></script>
    <script type="text/javascript" src="../js/highlighting/html.js"></script>
    <script type="text/javascript" src="../js/libs/jquery/jquery.min.js"></script>
</body>
</html>