@panel-fontSize:                           @base-fontSize;
@panel-bgColor:                            inherit;
@panel-bdColor:                            #eee;
@panel-borderRadius:                       @base-borderRadius;

@panel-header-bgColor:                    darken(#fff,3%);

@panel-title-textColor:                    #555;
@panel-title-fontSize:                     @panel-fontSize*1.125;
@panel-body-textColor:                     #000;

@panel-footer-textColor:                   #000;