@pager-margin               : 10px;
@pager-bgColor              : #fff;
@pager-borderColor          : @color-border;
@pager-borderRadius         : 20px;

@pager--hover-bgColor       : darken(@pager-bgColor, 10%);

@pager-disabled-color       : #999;
@pager-disabled-bgColor     : #fff;
@message-padding-vertical   : @base-fontSize * .2;
@message-padding-horizontal : @base-fontSize * 1;

// hook
// ====================================================================
.hook-pager() {}
.hook-pager-disabled() {}
.hook-pager-prev() {}
.hook-pager-next() {}
.hook-pager-misc() {}