.prelude-buttons (@use) when (@use = true) {
    button,
    .button {
        .inline-block();
        padding: @button-padding;
        line-height: 1;
        color: @button-color;
        text-align: center;
        vertical-align: middle;
        background-color: @button-bgColor;
        border: @button-borderWidth solid @button-borderColor;
        cursor: pointer;
        outline: none;
        .border-radius(@button-borderRadius, false);
        .user-select (none);
        .hook-button;

        // Hover state
        // ======================================================================
        &:hover {
            color: @button_hover-color;
            background-color: @button_hover-bgColor;

            outline: none;
            text-decoration: none;

            // transition is only when going to hover, otherwise the background
            // behind the gradient (there for IE<=9 fallback) gets mismatched
            .transition(background-position .1s linear);

            .hook-button-hover;
        }

        // Active state
        // ======================================================================
        &.button_active,
        &:active {
            background-color: @button_active-bgColor;
            outline: none;
            .hook-button-active;
        }

        // Disabled state
        // ======================================================================
        &.button_disabled,
        &[disabled] {
            cursor: default;
            background-color: @button_disable-bgColor;
            color: @button_disable-color;
            .opacity(@button_disable-opacity);
            .hook-button-disabled;
        }

        // Inner Icon
        // ======================================================================
        & > .icon {
            color: @button-icon-color;
            .hook-button-icon;
        }
        
        // Misc
        &::-moz-focus-inner {
            border: 0;
            padding: 0;
            outline: 0;
        }
    }

    // Button Label
    // ======================================================================
    .button_label {
        position: relative;
        .padding-right-rem(@button-label-padding-right);
        .padding-left-rem(@button-label-padding-left);
        .hook-button-label;

        & > .icon {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 2.5em;
            line-height: 2;
            background-color: fade(@button-icon-bgColor, 10%);
        }
    }

    // button types
    // ======================================================================
    .button_square {
        .border-radius(0, false);
    }
    .button_radius {
        .border-radius(@button-radius, false);
    }
    .button_round {
        .border-radius(@button-rounded, false);
    }
    .button_block {
        display: block;
        width: 100%;
    }

    // button size
    // ==========================================================================
    .button_mini {
        .font-size(@button_mini-fontSize);
    }
    .button_tiny {
        .font-size(@button_tiny-fontSize);
    }
    .button_small {
        .font-size(@button_small-fontSize);
    }
    .button_medium {
        .font-size(@button_medium-fontSize);
    }
    .button_large {
        .font-size(@button_large-fontSize);
    }
    .button_big {
        .font-size(@button_big-fontSize);
    }
    .button_huge {
        .font-size(@button_huge-fontSize);
    }
    .button_massive {
        .font-size(@button_massive-fontSize);
    }

    // Button groups
    // ==========================================================================
    .buttons {
        position: relative;
        .inline-block();
        .margin-right-rem(@buttons-margin-right);
        vertical-align: bottom;
        .clearfix();
        .hook-buttons;

        > .button, > button {
            float: left;
            .border-radius(0, false);

            &:first-child {
                .border-radius(@button-borderRadius 0 0 @button-borderRadius, false);
            }
            &:last-child {
                .border-radius(0 @button-borderRadius @button-borderRadius 0, false);
            }
        }
    }

    // Buttons Or
    // ======================================================================
    .buttons_or {
        .button:last-child {
            position: relative;
            margin-left: .4em;

            &:before {
                position: absolute;
                top: 50%;
                left: 0;
                content: 'or';
                height: 1.6em;
                width: 1.6em;
                line-height: 1.6em;
                font-size: .8em;
                margin-top: -.8em;
                margin-left: -1.15em;
                color: @button_or-color;
                text-align: center;
                background-color: @button_or-bgColor;
                .border-radius(100%, false);
                .hook-button-or;
            }
        }
    }

    // Hook
    // ==========================================================================
    .hook-button-misc;
}

.prelude-buttons (@use-buttons);