.prelude-buttons (@use) when (@use = true) {
    button,
    .button {
        .inline-block();
        padding: @button-padding;
        line-height: 1;
        color: @button-color;
        text-align: center;
        vertical-align: middle;
        background-color: @button-bgColor;
        border: @button-borderWidth solid @button-borderColor;
        cursor: pointer;
        outline: none;
        .border-radius(@button-borderRadius, false);
        .user-select (none);
        .hook-button;

        // Hover state
        // ======================================================================
        &:hover {
            color: @button-hover-color;
            background-color: @button-hover-bgColor;

            outline: none;
            text-decoration: none;

            // transition is only when going to hover, otherwise the background
            // behind the gradient (there for IE<=9 fallback) gets mismatched
            .transition(background-position .1s linear);

            .hook-button-hover;
        }

        // Active state
        // ======================================================================
        &.is-active,
        &:active {
            background-color: @button-active-bgColor;
            outline: none;
            .hook-button-active;
        }

        // Disabled state
        // ======================================================================
        &.is-disabled,
        &[disabled] {
            cursor: default;
            background-color: @button-disable-bgColor;
            color: @button-disable-color;
            .opacity(@button-disable-opacity);
            .hook-button-disabled;
        }

        // Inner Icon
        // ======================================================================
        & > .icon {
            color: @button-icon-color;
            .hook-button-icon;
        }
        
        // Misc
        &::-moz-focus-inner {
            border: 0;
            padding: 0;
            outline: 0;
        }
    }

    // Button Label
    // ======================================================================
    .button--label {
        position: relative;
        .padding-right-rem(@button--label-padding-right);
        .padding-left-rem(@button--label-padding-left);
        .hook-button-label;

        & > .icon {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 2.5em;
            line-height: 2;
            background-color: fade(@button-icon-bgColor, 10%);
        }
    }

    // button types
    // ======================================================================
    .button--square {
        .border-radius(0, false);
    }
    .button--radius {
        .border-radius(@button-radius, false);
    }
    .button--round {
        .border-radius(@button-rounded, false);
    }
    .button--block {
        display: block;
        width: 100%;
    }

    // button size
    // ==========================================================================
    .button--mini {
        .font-size(@button--mini-fontSize);
    }
    .button--tiny {
        .font-size(@button--tiny-fontSize);
    }
    .button--small {
        .font-size(@button--small-fontSize);
    }
    .button--medium {
        .font-size(@button--medium-fontSize);
    }
    .button--large {
        .font-size(@button--large-fontSize);
    }
    .button--big {
        .font-size(@button--big-fontSize);
    }
    .button--huge {
        .font-size(@button--huge-fontSize);
    }
    .button--massive {
        .font-size(@button--massive-fontSize);
    }

    // Button groups
    // ==========================================================================
    .buttons {
        position: relative;
        .inline-block();
        .margin-right-rem(@buttons-margin-right);
        vertical-align: bottom;
        .clearfix();
        .hook-buttons;

        > .button, > button {
            float: left;
            .border-radius(0, false);

            &:first-child {
                .border-radius(@button-borderRadius 0 0 @button-borderRadius, false);
            }
            &:last-child {
                .border-radius(0 @button-borderRadius @button-borderRadius 0, false);
            }
        }
    }

    // Buttons Or
    // ======================================================================
    .buttons--or {
        .button:last-child {
            position: relative;
            margin-left: .4em;

            &:before {
                position: absolute;
                top: 50%;
                left: 0;
                content: 'or';
                height: 1.6em;
                width: 1.6em;
                line-height: 1.6em;
                font-size: .8em;
                margin-top: -.8em;
                margin-left: -1.15em;
                color: @button--or-color;
                text-align: center;
                background-color: @button--or-bgColor;
                .border-radius(100%, false);
                .hook-button-or;
            }
        }
    }

    // Hook
    // ==========================================================================
    .hook-button-misc;
}

.prelude-buttons (@use-buttons);