@button-padding             : .5em 1.2em;
@button-bgColor             : #428BCA;
@button-color               : #fff;
@button-borderRadius        : @base-borderRadius;
@button-borderWidth         : 1px;
@button-borderColor         : rgba(0,0,0,.1);

@button-radius              : @base-borderRadius * 2;
@button-rounded             : 1000px;

// state
@button-hover-color         : #fff;
@button-hover-bgColor       : #3276B1;
@button-active-bgColor      : #3276B1;
@button-disable-bgColor     : #ddd;
@button-disable-color       : #999;
@button-disable-opacity     : .6;

// icon
@button-icon-color          : #eee;
@button-icon-bgColor        : #000;

// buttons
@buttons-margin-right       : @base-fontSize * .33;

// label
@button--label-padding-right : @base-fontSize * 1.5;
@button--label-padding-left  : @base-fontSize * 4;

// or
@button--or-mragin-top       : @base-fontSize * .5;
@button--or-color            : #aaa;
@button--or-bgColor          : #fdfdfd;

// size
@button--mini-fontSize       : @base-fontSize * .625;
@button--tiny-fontSize       : @base-fontSize * .75;
@button--small-fontSize      : @base-fontSize * .875;
@button--medium-fontSize     : @base-fontSize;
@button--large-fontSize      : @base-fontSize * 1.125;
@button--big-fontSize        : @base-fontSize * 1.25;
@button--huge-fontSize       : @base-fontSize * 1.375;
@button--massive-fontSize    : @base-fontSize * 1.5;

// Hooks
// ==========================================================================
.hook-button() {}
.hook-button-hover() {}
.hook-button-active() {}
.hook-button-disabled() {}
.hook-button-icon() {}
.hook-button-label() {}
.hook-button-or() {}
.hook-buttons() {}
.hook-button-misc() {}