@form-spacing:                         0.6rem;
@form-fontSize:                        @base-fontSize;
@form-textColor:                       @base-textColor;
@form-bgColor:                         #fff;
@form-borderColor:                     #aaa;

// focus
@form-focus-textColor:                 #444;
@form-focus-bgColor:                   #def;
@form-focus-borderColor:               #5cf;

// disabled
@form-disabled-textColor:               #999;
@form-disabled-bgColor:                 #eee;
@form-disabled-borderColor:             #ccc;

// placeholder
@form-placeholder-textColor:            lighten(@form-textColor,20%);

// fieldset
@fieldset-borderStyle: solid;
@fieldset-borderWidth: 1px;
@fieldset-borderColor: #ddd;
@fieldset-padding: 1rem;
@fieldset-marginTop: 1rem;
@fieldset-marginBottom: 1rem;

// legend
@legend-padding: 3px;

// Hooks
// ========================================================================
.hook-form() {}
.hook-form-focus() {}
.hook-form-disabled() {}
.hook-form-misc() {}